<template name="_panelFooter">
  <div class="panel-footer">
      <div class="row">
          <div class="col-md-6">
            {{#if noBackButton}}
            &nbsp;
            {{else}}
            <button id="backButton" type="button" class="btn btn-link btn-sm btn-block">
            <span class="fa fa-chevron-left"></span>   Back</button>
            {{/if}}
          </div>
          <div class="col-md-6">
              <button id="nextButton" type="button" class="btn btn-primary btn-sm btn-block">
                  <span class="fa fa-chevron-right"></span>  Continue</button>
          </div>
      </div>
  </div>
</template>
